/* ==================== Estilos para LoginSection ==================== */
.loginForm {
  width: 100%;
  max-width: 500px;
  background: #361a1a;
  border: 3px solid rgb(216, 0, 72);
  padding: 3rem;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
  animation: fadeIn 1s ease-in-out;
  text-align: center;
}

/* Icono del título */
.titleIcon {
  font-size: 2rem;
  color: rgb(216, 0, 72);
}

/* Título */
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: white;
}

/* Campo de entrada */
.inputGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid rgb(216, 0, 72);
  border-radius: 8px;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  background-color: #1e1e2f;
}

.icon {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

.inputField {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  color: white;
}

.eyeIcon {
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

/* Botón de inicio de sesión */
.loginButton {
  width: 100%;
  padding: 1rem;
  background-color: rgb(216, 0, 72);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loginButton:hover {
  background-color: #70142b;
  transform: scale(1.05);
}

/* Enlace de recuperar contraseña */
.forgotPassword {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  margin-top: 1rem;
  cursor: pointer;
}

.forgotPassword:hover {
  color: #a5a5a5;
}

/* Iconos sociales */
.socialIcons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.socialIcon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.socialIcon:hover {
  transform: scale(1.1);
}
