/* ==================== Estilos para VerifyCodeSection ==================== */
.verifyCodeForm {
  width: 100%;
  max-width: 500px;
  background: #000;
  border: 3px solid rgb(255, 255, 255);
  padding: 3rem;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(101, 0, 216, 0.5);
  animation: fadeIn 1s ease-in-out;
  text-align: center;
}

/* Icono del candado */
.lockIcon {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

/* Título */
.verifyCodeTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: white;
}

/* Subtítulo */
.verifyCodeSubtitle {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
}

/* Campo de entrada */
.verifyCodeInput {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 1rem;
  background-color: #303030;
  color: white;
  transition: all 0.3s ease;
}

.verifyCodeInput:focus {
  outline: none;
  border-color: white;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

/* Botones */
.buttonContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.verifyCodeButton,
.cancelButton {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.verifyCodeButton {
  background-color: rgb(146, 146, 146);
  color: white;
}

.verifyCodeButton:hover {
  background-color: #3f3f3f;
}

.cancelButton {
  background-color: #ee3d3d;
  color: white;
}

.cancelButton:hover {
  background-color: #810000;
}

/* Animación de fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
